PORT=8001
MONGO_URI=mongodb+srv://abpatel147_db_user:Coqquo9SgXjdsXGX@cluster0.jp8trge.mongodb.net/
JWT_SECRET=change_this_to_a_long_random_secret
JWT_EXPIRES_IN=7d
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
